.layout {
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sideBlock {
    width: 20vw;
    object-fit: cover;
}


.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainContent>form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap:1rem;
}

.mainContent>form>input {
    font-size: 1rem;
    width: 20rem;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}

.mainContent>form>input:focus {
    outline: none;
    width: 20rem;
    padding: 0.5rem;
    border: 2px solid var(--mainColor);
    border-radius: 6px;
}

.mainContent>form button {
    font-size: 1rem;
    background-color: var(--mainColor);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 6px;
    align-self: center;
}

.mainContent>form button:hover {
    cursor: pointer;
}

.mainContent>form>a {
    color: #888;
    align-self: center;
}
.mainContent>form>a:hover {
    text-decoration: underline;
}